* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.weather-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  z-index: -1;
}

.weather-img {
  position: fixed;
  width: 100%;
  height: 100%;

  background-image: none;
  background-repeat: no-repeat;

  transition: background-image 1s;
}

.weather-img-upper-right {
  background-position: top right;
  background-position-y: 80px;
  background-size: max(min(35vw, 300px), 200px);

  /* set size & center */
  width: 90%;
  max-width: 900px;
  min-width: 350px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.background {
  background-image: url("./assets/weather/background_day.png");
  background-size: min(200vw, 200vh);
  background-repeat: repeat;
}

.background.cloudy {
  background-image: url("./assets/weather/background_cloudy.png");
}

.background.night {
  background-image: url("./assets/weather/background_night.png");
}

.ground {
  background-image: url("./assets/weather/ground_green.png");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 100vh;
}
.ground.snowy {
  background-image: url("./assets/weather/ground_snowy.png");
}

.sun {
  background-image: url("./assets/weather/sun.png");
}

.sun.moon {
  background-image: url("./assets/weather/moon.png");
}

.trees {
  background-image: url("./assets/weather/trees_green.png");
  background-position: bottom left;
  background-position-y: bottom 7vh;
  background-position-x: left;
  background-size: max(min(50vw, 400px), 200px);

  /* set size & center */
  width: 90%;
  max-width: 900px;
  min-width: 350px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.trees.snowy {
  background-image: url("./assets/weather/trees_snowy.png");
}

.clouds {
  background-image: url("./assets/weather/cloud.png");
}

.rain {
  background-image: url("./assets/weather/rain.png");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .01), rgba(0, 0, 0, 0.2));
  padding: 15px;
  color: white;

  z-index: 2;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

.search-box {
  width: 100%;
}

.search-bar {
  display: block;
  width: 60%;
  max-width: 400px;
  min-width: 200px;
  padding: 15px;
  margin: auto;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(65, 65, 65, 0.1);
  color: white;
  font-size: 17px;
  border-radius: 100px;

  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(65, 65, 65, 0.25);
}

.location-box {
  text-align: center;
}

.location {
  font-size: 36px;
  font-weight: bold;
}

.date {
  font-size: 18px;
}

.weather-box {
  text-align: center;
}

.temp {
  font-size: 64px;
  font-weight: bold;
}

.weather {
  font-size: 18px;
  font-weight: bold;
}